.expense-list {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.category {
	display: flex;
	flex-direction: column;
}
.category-container {
	max-width: 300px;
}

.category-item {
	padding: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
