.expense-list {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.expense-list__total,
.expense-list__alert {
	font-size: 2rem;
}

.expense-list__alert {
	text-decoration: underline;
	text-align: center;
}
