.card {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.2rem;
	box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
		rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

.card__title {
	font-size: 2.4rem;
}

.card__amount {
	font-size: 2rem;
}

.card__time {
	font-size: 1.4rem;
	color: #999;
}

.card__btn {
	border: none;
	outline: none;
	font-size: 2.4rem;
}
